{% extends  "layout.html" %}
{% block content %}

    <div class="content-section2">
        <h6><b>About the dashboard</b> </h6>

        The dashboard grew out of a <a href="https://deq.utah.gov/division-air-quality"> Utah Division of Air Quality (DAQ)</a>
        study designed to observe the effects of brown carbon (or delta carbon), an indicator of biomass burning, on local air quality.
        Results of this study can be found <a href=" {{ url_for('static', filename = '/papers/Glisson_DAQ_Report.pdf') }}"> here</a>. This study was conducted by three University of Utah <a href= "https://che.utah.edu"> Chemical Engineering </a> students,
        Jesse Glisson, Alex Robinson and Adrian Wride in partnership with <a href= "https://faculty.utah.edu/u0239821-KERRY_E._KELLY/hm/index.html"> Dr. Kerry Kelly</a>.<br> <br>

        At the conclusion of the study, Alex and Adrian continued work with Dr. Kelly to develop the dashboard.
        The idea behind the dashboard was to make the air quality data and resources collected (including methods developed) during the study easily accessible to anyone.
        <br>
        <br>
        <h6><b>Questions</b> </h6>
        If you have questions, comments or suggestions, please contact Dr. Kerry Kelly, Assistant Professor, Chemical Engineering, University of Utah.<br>
        email: kerry[dot]kelly[at]utah[dot]edu
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
{% endblock content %}
