{% extends  "layout.html" %}
{% block content %}

    <div class = "content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}

            <div class="form-group" align="left">
                <b>Dates: </b> &nbsp;
                {{ form.StartDate.label(class="form-control-lable") }}
                {{ form.StartDate }}

                &nbsp;

                {{ form.EndDate.label(class="form-control-lable") }}
                {{ form.EndDate }}

            </div>

            <div class="form-group" align="left">
                <b>Locations: </b> &nbsp;

                {{ form.BV_checkbox}}
                {{ form.BV_checkbox.label(class="form-control-lable") }}
                &nbsp;
                {{ form.LN_checkbox}}
                {{ form.LN_checkbox.label(class="form-control-lable") }}
                &nbsp;
                {{ form.SM_checkbox}}
                {{ form.SM_checkbox.label(class="form-control-lable") }}
                <br>

            </div>

            <div class="form-group" align="left">
                <b>Options: </b> &nbsp;

                {{ form.HD_checkbox }}
                {{ form.HD_checkbox.label(class="form-control-lable") }}
                &nbsp;
                {{ form.SP_checkbox }}
                {{ form.SP_checkbox.label(class="form-control-lable") }}

            </div>

            <div class="form-group" align="left">
                <span align="left">
                    <a class="btn-sm btn-primary" href="/getzip">Download Data (.zip)</a>
                </span>

                <span style="float:right;">
                    {{form.submit(class="btn btn-outline-info")}}
                </span>
            </div>

        </form>

    </div>


    <div class = "content-section">
        {% for file in session['id']%}

            <div class="media">
                <img src="{{ url_for('static', filename = file ) }}" width="100%" height="auto">
            </div>

        {% endfor %}
    </div>
{% endblock content %}
