{% extends  "layout.html" %}
{% block content %}

<div class = "content-section">
    <form method="POST" action="">
        {{form.hidden_tag()}}

        <div class="form-group" align="left">
            <b>Dates: </b> &nbsp;
            {{ form.StartDate.label(class="form-control-lable") }}
            {{ form.StartDate }}

            &nbsp;

            {{ form.EndDate.label(class="form-control-lable") }}
            {{ form.EndDate }}

        </div>

        <div class="form-group" align="left">
            <b>Locations: </b> &nbsp;

            {{ form.BV_checkbox}}
            {{ form.BV_checkbox.label(class="form-control-lable") }}
            &nbsp;
            {{ form.LN_checkbox}}
            {{ form.LN_checkbox.label(class="form-control-lable") }}
            &nbsp;
            {{ form.SM_checkbox}}
            {{ form.SM_checkbox.label(class="form-control-lable") }}

        </div>

        <div class="form-group" align="left">
            <b>Options: </b> &nbsp;

            {{ form.HD_checkbox }}
            {{ form.HD_checkbox.label(class="form-control-lable") }}
            &nbsp;
            {{ form.SP_checkbox }}
            {{ form.SP_checkbox.label(class="form-control-lable") }}

            <span style="float:right;">
                {{form.submit(class="btn btn-xs btn-outline-info")}}
            </span>

        </div>


    </form>

</div>

<div class = "content-section">

    <h4><center><b>Welcome!</b></center></h4>
    <p>
    Thank you for visiting the University of Utah’s Aethalometer Dashboard.  We hope you find this little tool useful.
    </p>
</div>

<div class = "content-section">
    <h4><center><b>What’s on the dashboard?</b></center></h4> <br>

        <h5><b>Brown Carbon</b> </h5>

    <p>
        The brown carbon data comes from the <a href ="https://deq.utah.gov/"> Utah Division of Air Quality's </a> <a href = "https://mageesci.com/our-products/ae33/">seven-channel aethalometers </a> located in Bountiful, Lindon, and Smithfield, Utah. Brown carbon is an indicator of biomass combustion.  During the winter brown carbon can indicate cooking with wood or residential wood burning.  Because northern Utah experiences periodic episodes of particle pollution and heating with wood emits orders of magnitude more particle pollution than heating with natural gas, the state restricts woodburning during episodes of poor air quality.  Studying long-term trends in brown carbon can help understand the effectiveness of wood-burning control measures.  More information about the effects of burning wood and wood-burning restrictions can be found <a href = "https://deq.utah.gov/air-quality/wood-burn-program"> here </a>.
    </p>
        <h5><b>Heat Deficit</b> </h5>
    <p>
        Heat deficit is a measure of atmospheric stability, and heat deficits greater than four are indicative of a stable atmosphere, with larger values indicating a more stable atmosphere. Normally air temperature decreases with elevation, but sometimes, cold air becomes trapped in a valley by a layer of warmer air, and these stable-air events are known as "inversions" or cold air pools. In northern Utah, cold air pools are often associated with elevated levels of particle pollution.
    </p>

    <p>
        The heat deficit is calculated from rawinsonde data collected at the Salt Lake City airport and is available <a href = "http://weather.uwyo.edu/upperair/sounding.html">here</a> through the University of Wyoming.
    </p>

    <p>
        More information on heat deficit can be found in <a href=" {{ url_for('static', filename = 'papers/Whiteman_paper.pdf') }}"> Whiteman et al. 1998</a>, and the expression used to calculate the heat deficit can be found below:
    </p>

    <center>
        <img src="/static/img/equations/integral.jpeg" width="100%" height="100%">
    </center>

    </p>
        <h5><b>Air Quality Index (Day Type)</b> </h5>
    <p>

    <p>
        From the Utah Department of Environmental Quality: The air quality index (AQI) indicates the highest pollution level of a given day. Please visit https://air.utah.gov/forecast.php or https://slco.org/health/air-quality/wood-burning/ for more information.
    </p>

</div>

<div class = "content-section">

    <h4><center><b>FAQ</b></center></h4> <br>

      <h6> <b>Why consider brown carbon, burn conditions, and heat deficit together? </b></h6>

    <p>
    A number of factors affect an individual's choice to burn wood, including economics, temperature, and burn conditions. We plot these together to help understand these relationships and the effectiveness of burn restrictions. Note that each of the three locations has its own burn restrictions, so you must plot the data individually to see the burn conditions.
    </p>

      <h6><b>What date ranges can I query?</b> </h6>

    <p>
    Delta-carbon data exists after July 18, 2017 for Bountiful, September 5, 2018 for Smithfield and November 20, 2018 for Lindon. Heat-deficit data exists beginning January 1, 1973.
    </p>

<!--     <h6><b>How long will it take to generate and download data?</b> </h6>

    <p>
    Selecting a single month for all three stations takes approximately 5 seconds.
    Selecting longer time ranges and separate plots will result in longer wait times.
    </p> -->

    <h6><b>What if I keep getting an error when I query?</b> </h6>
    <p>
        It is possible that data is not available during the time period. Try searching a different time period. If you continue to receive errors, please reach out to us.
    </p>

</div>

{% endblock content %}
