{% extends 'layout.html' %}
{% block content %}

    <div class="content-section">
        <h1>You don't have the appropriate permissions to access this page (403)</h1>
        <p>Please check your account and try again</p>
    </div>

{% endblock content %}
